@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');
@font-face {
    font-family: 'Avenir Next';
    font-weight: 400;
    font-style: normal;
    src: url("AvenirNextCyr-Regular.woff2") format('woff2');
}
$green: rgb(39, 48, 15);
$orange: #d26a22;
$white: #ffffff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
    position: relative;
    z-index: -10;
    background-color: $white;
}
.header {
    max-width: 1440px;
    margin: 0 auto ;
    padding: 4rem 15px 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0 0 0 44px;
        justify-content: space-between;
        gap: 48px;
    }
    &__link {
        text-decoration: none;
        font-family: $font-jost;
        line-height: 1.2;
        font-weight: 400;
        color: $green;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        text-decoration: none;
        font-family: $font-jost;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        color: $green;
        padding: 0 0 0 160px;
        &:hover {
            color: $orange;
        }
    }
    &__card {
        text-decoration: none;
        display: block;
        width: 4rem;
        height: 4rem;
        background-color: $orange;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(../img/card-icon.svg);
        background-size: 1.7rem 1.5rem;
        position: relative;
        border: none;
        &:hover {
            background-color: $green;
            cursor: pointer;
        }
    }
    &__counter {
        color: $white;
        position: absolute;
        right: 0.8rem;
        top: 0.6rem;
        font-family: $font-jost;
        font-size: 0.8rem;
        line-height: 1.2;
        font-weight: 400;
        color: #ffffff;
    }
}
.logo {
    background-image: url(../img/logo.svg);
    display: block;
    width: 120px;
    height: 32px;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
.main {
    background-image: url(../img/background_1_screen_415.png);
    background-size: cover;
    background-position-x: center;
    position: relative;
    z-index: -10;
    padding-bottom: 203px;
    box-sizing: border-box;
    &__text {
        margin-top: 1rem;
    }
    &__item {
        margin: 6.2rem 0 0 12rem;
        max-width: 378px;
    }
    &__link {
        margin-top: 8rem;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    &__cover {
        width: 765px;
        height: 765px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        position: relative;
        border: 1px solid rgba($green, 0.4);
        padding: 0;
        z-index: 2;
    }
    &__line {
        flex-basis: 663px;
        width: 663px;
        height: 663px;
        border-radius: 100%;
        position: relative;
        border: 1px solid rgba($green, 0.4);
    }
    &__image {
        width: 681px;
        height: 681px;
        /*------change later ------------*/
        position: relative;
        top: 25px;
        left: 28px;
    }
    &__btn-border {
        width: 21px;
        height: 21px;
        border: 1px solid $green;
        border-radius: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        &:hover{
            cursor: pointer;
            border-color: $orange;
        }
        &:hover .main__btn {
            cursor: pointer;
            background-color: $orange;
        }
    }
    &__food {
        opacity: 0.6;
    }
    &__btn {
        border: none;
        padding: 0;
        width: 11px;
        height: 11px;
        background-color: $green;
        border-radius: 100%;
        z-index: 10;
    }
    &__btn-1 {
        top: 60px;
        left: 147px;
        &_crumbs {
            position: relative;
            right: 86px;
            top: -36px;
            line-height: 2.4rem;
            font-size: 1.6rem;
            display: inline-block;
            text-align: left;
            z-index: 10;
            width: 85px;
        }
    }
    &__btn-2 {
        bottom: 2px;
        left: 475px;
        &_crumbs {
            position: relative;
            right: 15px;
            top: 2px;
            line-height: 2.4rem;
            font-size: 1.6rem;
            display: inline-block;
            text-align: left;
            z-index: 10;
            width: 70px;
        }
    }
    &__btn-3 {
        top: 205px;
        left: 658px;
        &_crumbs {
            position: relative;
            right: -25px;
            top: -35px;
            line-height: 2.4rem;
            font-size: 1.6rem;
            display: inline-block;
            text-align: left;
            z-index: 10;
            width: 70px;
        }
    }
    &__design {
        position: absolute;
        z-index: -1;
    }
    &__avocado {
        right: 0;
        top: 46px;
    }
    &__cucumber {
        left: 690px;
        top: 0;
    }
    &__pepper-1 {
        left: 42px;
        bottom: 182px;
    }
    &__pepper-2 {
        left: 0;
        bottom: 223px;
    }
    &__pepper-3 {
        left: 20px;
        bottom: 260px;
    }
    &__red_pepper {
        left: 40px;
        top: 397px;
    }
    &__tomato {
        right: 120px;
        bottom: 135px;
    }
}
.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    line-height: 80px;
    letter-spacing: 0em;
    margin: 0;
    &__span {
        font-style: italic;
    }
    &_block {
        .title__span {
            display: block;
        }

    }
}
.description {
    margin: 0;
    font-weight: 400;
    &__size-s {
        font-size: 1.7rem;
        line-height: 2.7rem;
        letter-spacing: 0.051rem;
    }
    &__size-m {
        font-size: 2.4rem;
        line-height: 3.6rem;
    }
}
.link {
    color: $white;
    padding: 2.2rem 4.5rem;
    text-transform: uppercase;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem .2rem rgba(207,92,13,0.2);
    border-radius: 35px;
    text-decoration: none;
    letter-spacing: 0.1rem;
}
.offer {
    background-image: url(../img/background\ 2\ sreen.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    height: 1047px;
    &__text {
        margin-top: 58px;
        width: 50%;
    }
    &Swiper {
        padding-top: 9.6rem;
        & .swiper {
            &-button-prev,
            &-button-next {
                top: 26px;
            }
            &-button-next {
                right: 0;
            }
            &-button-prev {
                right: 83px;
            }
            &-slide {
                padding: 21rem 0 0 4rem;
                height: 520px;
                &__title {
                    transform: translateY(24rem);
                    transition-duration: 1s;
                }
            }
        }
    }
}
.slider {
    overflow: hidden;
    box-sizing: border-box;
}
.swiper {
    overflow: initial;
    &-pagination {
        display: none;
    }
    &-button-prev,
    &-button-next {
        margin: 0;
        left: inherit;
        width: 10px;
        height: 18px;
        opacity: 0.55;
        &:hover {
            opacity: 1;
        }
        &::after {
            content: '';
            width: 10px;
            height: 18px;
            background-repeat: no-repeat;
        }
    }
    &-button-next {
        &::after { 
            background-image: url(../img/arrow-next.svg);
        }
    }
    &-button-prev {
        &::after { 
            background-image: url(../img/arrow-prev.svg);
        }
    }
    &-slide {
        border-radius: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border: 1px solid rgba($green, 0.55);
        transition: transform 1s;  
        position: relative; 
        &__description {
            margin: 2.3rem 0 0;
            opacity: 0.7;
            font-family: $font-jost;
            font-size: 18px;
            line-height: 27px;
            font-weight: 400;
            color: $green;
        }
        &__price {
            font-family: $font-jost;
            font-size: 24px;
            line-height: 1.2;
            font-weight: 400;
            color: $green;
            margin: 0;
            position: absolute;
            bottom: 13.5rem;
        }
        &__cover { // or __img?
            position: absolute;
            top: 2.8rem;
            overflow: hidden;
            height: 293px;
            max-height: 293px;
            z-index: -10;
            width: calc(100% - 4rem);
        }
        &__img {
            position: absolute;
            left: 45%;
            top: 54%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            bottom: 4rem;
            width: 83%;
        }
        &_white {
            &::after {
                content: '';
                background-color: rgba($white, .55);
                position: absolute;
                top: 2px;
                left: 2px;
                border-radius: 2rem;
                width: calc(100% - 2px);
                height: calc(100% - 2px);
                z-index: 0;
                transition: 1s;
            }
            &:hover {
                &::after {
                    opacity: 0;
                    transition: 1s;
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);   
                }
            }
        }
        &__milk {
            background-image: url(../img/milk.png);
            background-repeat: no-repeat;
            background-size: cover;
        }     
        &__steaks {
            background-image: url(../img/steaks.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__pasta {
            background-image: url(../img/pasta.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__title {
            font-family: $font-cormorant;
            font-size: 3rem;
            line-height: 1.2;
            font-weight: 700;
            color: $green;
            margin: 0;
            // transform: translateY(24rem);
            // transition-duration: 1s;
            z-index: 1;
        }
        &__text {
            font-family: $font-jost;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: $green;
            width: 65%;
            margin-top: 25px;
            transform: translateY(24rem);
            transition-duration: 1s;
            opacity: 0;
            z-index: 1;
        }
        &__plus {
            transition-duration: 1s;
            z-index: 1;
            transform: translateY(24rem);
            opacity: 0;
            font-family: $font-jost;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.08em;
            color: $green;
            text-decoration: none;
            display: flex;
            align-items: center;
            margin-top: 1.8rem;
            &::before {
                opacity: 0.8;
                content: '';
                background-image: url(../img/plus.svg);
                background-size: cover;
                background-repeat: no-repeat;
                margin-right: 2rem;
                width: 3rem;
                height: 3rem;
            }
        }
        &:hover {
            box-shadow: 0 0 0 2px rgba($green, 0.6) inset;
            cursor: pointer;
        }
        &:hover &__title {
            transform: translateY(0);
            opacity: 1;
            transition-duration: 1s;
        }
        &:hover &__text {
            transform: translateY(0);
            opacity: 0.7;
            transition-duration: 1s;
        }
        &:hover &__plus {
            transform: translateY(0);
            opacity: 0.8;
            transition-duration: 1s;
            &:hover {
                opacity: 1;
            }
        }
    }
  }
  .about {
    padding-top: 25px;
    height: 554px;
    box-sizing: border-box;
    background-image: url(../img/background\ 3\ screen.png);
    .title {
        padding-left: 5px;
        letter-spacing: 0.01em;
    }
    &__box {
        padding: 67px 0 0 120px; 
        display: flex;
        justify-content: space-between;
    }
    &__text {
        font-family: $font-jost;
        font-weight: 400;
        color: $green;
        padding: 26px 0 0;
        margin: 0;
        flex-basis: 45%;
    }
    &__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 85px;
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            &-img {
                width: 87px;
                height: 87px;
                border: 1px solid rgba($green, 0.4);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                & img {
                    width: 39px;
                    height: 39px;
                }
            }
            &-text {
                font-family: $font-cormorant;
                font-size: 3rem;
                line-height: 1.2;
                font-weight: 700;
                font-style: italic;
                color: $green;
                margin-top: 1.2rem;
            }
        }
    }
}

.trends {
    padding-top: 27px;
    box-sizing: border-box;
    background-image: url(../img/background\ 4\ screen.png);
    height: 1104px;
    &__text {
        padding: 4rem 0 0;
    }
    &Swiper {
        padding-top: 8.4rem;
        & .swiper {
            &-button-prev,
            &-button-next {
                top: 12px;
            }
            &-button-next {
                right: 0;
            }
            &-button-prev {
                right: 89px;
            }
            &-slide {
                padding: 38rem 0 0 4rem;
                height: 68.3rem;
                &__title {
                    transform: translateY(0rem);
                    transition-duration: 1s;
                }
            }
        }
    }
}
.counter {
    display: flex;
    &__input {
        width: 4.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: $font-jost;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 400;
        color: $green;
        border: none;
    }
    &__btn {
        width: 50px;
        height: 50px;
        border: 1px solid $green;
        background: transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            cursor: pointer;
        }
    }
    &__minus {
        & img {
            pointer-events: none;
            width: 14px;
        }
    }
    &__plus {
        & img {
            height: 14px;
            width: 14px;
        }
    }
    &__minus, &__plus {
        opacity: .4;
        &:hover {
            opacity: 1;
        }
    }
    &+.link {
        padding: 2.2rem 5.3rem;
    }
}
.catalog {
    padding-top: 36px;
    box-sizing: border-box;
    background-image: url(../img/background\ 5\ screen.png);
    height: 1684px;
    &__text {
        padding-top: 3.7rem;
    }
    &__description {
        font-family: 'Avenir Next';
        letter-spacing: -0.006;
    }
    &__btns {
        width: 100%;
        padding: 0;
        padding-top: 8.8rem;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        &-btn {
            width: 23rem;
            height: 7rem;
            background: transparent;
            border: 1px solid $green;
            border-radius: 35px;
            color: $green;
            font-family: $font-jost;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 400;
            &:hover {
                border-color: $orange;
                color: $orange;
            }
        }
    }
}