@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');
@font-face {
    font-family: 'Avenir Next';
    font-weight: 400;
    font-style: normal;
    src: url("AvenirNextCyr-Regular.woff2") format('woff2');
}
$green: #262f0f;
$orange: #d26a22;
$orange-dark: #bf601f;
$white: #ffffff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

$link-transition-time: 0.5s;

$r_minmob: 320px;
$rmob_360: 360px;
$rmob_400: 400px;
$rmob_500: 500px;
$rmob_600: 600px;
$r_tab: 768px;
$r_desc: 1000px;
$r_desc_hd: 1200px;
$r_desc_1280: 1280px;
$r_desc_1350: 1350px;

html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
    position: relative;
    z-index: -10;
    background-color: $white;
    background-image: url(../img/background_full.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
}
.header {
    max-width: 1440px;
    margin: 0 auto ;
    padding: 4rem 15px 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__buttons {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    &__phone, &__burger {
        display: none;
    }
    &__navigation {
        @media(max-width: $r_desc) {
            display: none;
        }
    }
    &__burger {
        transition: $link-transition-time;
        @media(max-width: $r_desc) {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $green;
            border-radius: 50%;
            cursor: pointer;
            width: 36px;
            height: 36px;
            background-color: transparent;
            position: relative;
            margin: 0;
            padding: 0;
            overflow: hidden;
            font-size: 0;
            &:hover {
                border-color: $orange;
                & span {
                    background-color: $orange;
                    &::after,
                    &::before {
                        background-color: $orange;
                    }
                }
            }
            &.burger_close span {
                background-color: transparent;
                transition: $link-transition-time;
                &::after {
                    top: 0;
                    transform: rotate(45deg);
                }
                &::before {
                    top: 0;
                    transform: rotate(-45deg);
                }
            }
            & span {
                position: relative;
                display: inline-block;
                background-color: $green;
                height: 2px;
                width: 16px;
                transition: 0.5s;
                &::after,
                &::before {
                    position: absolute;
                    display: block;
                    height: 2px;
                    background-color: #000;
                    content: '';
                    width: 100%;
                    transition: $link-transition-time;
                }
                &::after {
                    top: -5px;
                }
                &::before {
                    top: 5px;
                }
            }
            
        }
    }
    &__phone {
        @media(max-width: $r_desc_1350) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            border: 1px solid $green;
            border-radius: 50%;
        }
        &:hover {
            border-color: $orange;
            .header__phone-img {
                filter: invert(46%) sepia(92%) saturate(826%) hue-rotate(348deg) brightness(87%) contrast(88%);
            }
        }
    }
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0 0 0 44px;
        justify-content: space-between;
        gap: 48px;
    }
    &__link {
        text-decoration: none;
        font-family: $font-jost;
        line-height: 1.2;
        font-weight: 400;
        color: $green;
        transition: $link-transition-time;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        text-decoration: none;
        font-family: $font-jost;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        color: $green;
        transition: $link-transition-time;
        padding: 0 0 0 160px;
        &:hover {
            color: $orange;
        }
        @media(max-width: $r_desc_1350) {
            display: none;
        }
    }
    &__card {
        text-decoration: none;
        display: block;
        width: 4rem;
        height: 4rem;
        background-color: $orange;
        transition: $link-transition-time;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(../img/card-icon.svg);
        background-size: 1.7rem 1.5rem;
        position: relative;
        border: none;
        &:hover {
            background-color: $green;
            cursor: pointer;
        }
        @media(max-width: $r_desc) {
            background-color: transparent;
            border: 1px solid $green;
            background-image: url(../img/card-icon-black.svg);
            &:hover {
                background-color: transparent;
                border-color: $orange;
                background-image: url(../img/card-icon-orange.svg);
                .header__counter {
                    color: $orange;
                }
            }
        }
    }
    &__counter {
        color: $white;
        position: absolute;
        right: 0.8rem;
        top: 0.6rem;
        font-family: $font-jost;
        font-size: 0.8rem;
        line-height: 1.2;
        font-weight: 400;
        color: #ffffff;
        transition: $link-transition-time;
        @media(max-width: $r_desc) {
            color: $green;
        }
    }
}
.logo {
    background-image: url(../img/logo.svg);
    display: block;
    width: 120px;
    height: 32px;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
.main {
    // background-image: url(../img/background_1_screen_415.png);
    // background-size: cover;
    // background-position-x: center;
    position: relative;
    z-index: -10;
    padding-bottom: 203px;
    box-sizing: border-box;
    &__text {
        margin-top: 1rem;
    }
    &__item {
        margin: 6.2rem 0 0 12rem;
        max-width: 378px;
    }
    &__link {
        margin-top: 8rem;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    &__cover {
        width: 765px;
        height: 765px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        position: relative;
        border: 1px solid rgba($green, 0.4);
        padding: 0;
        z-index: 2;
    }
    &__line {
        flex-basis: 663px;
        width: 663px;
        height: 663px;
        border-radius: 100%;
        position: relative;
        border: 1px solid rgba($green, 0.4);
    }
    &__image {
        // width: 681px;
        // height: 681px;
        /*------change later ------------*/
        position: relative;
        // top: 25px;
        // left: 28px;
        top: 21px;
        right: -25px;
        width: 615px;
        height: 615px;
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 15px 17px 33px 8px rgba($green, 0.4);
        border-radius: 50%;
        animation: shadow 2s infinite;
        animation-direction: alternate;
    }
    @keyframes shadow {
        0% {
            box-shadow: 0 0 0 0 rgba($green, 0.3);
        }
        0% {
            box-shadow: 6px 8px 17px 4px rgba($green, 0.3);
        }
        100% {
            box-shadow: 15px 17px 33px 8px rgba($green, 0.3);
        }
    }
    &__btn-border {
        width: 21px;
        height: 21px;
        border: 1px solid $green;
        border-radius: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        transition: $link-transition-time;
        &:hover{
            cursor: pointer;
            border-color: $orange;
        }
        &:hover .main__btn {
            cursor: pointer;
            background-color: $orange;
        }
    }
    &__food {
        opacity: 0.6;
    }
    &__btn {
        border: none;
        padding: 0;
        width: 11px;
        height: 11px;
        background-color: $green;
        border-radius: 100%;
        z-index: 10;
        transition: $link-transition-time;
    }
    &__btn-1 {
        top: 60px;
        left: 147px;
        &_crumbs {
            position: relative;
            right: 86px;
            top: -36px;
            line-height: 2.4rem;
            font-size: 1.6rem;
            display: inline-block;
            text-align: left;
            z-index: 10;
            width: 85px;
        }
    }
    &__btn-2 {
        bottom: 2px;
        left: 475px;
        &_crumbs {
            position: relative;
            right: 15px;
            top: 2px;
            line-height: 2.4rem;
            font-size: 1.6rem;
            display: inline-block;
            text-align: left;
            z-index: 10;
            width: 70px;
        }
    }
    &__btn-3 {
        top: 205px;
        left: 658px;
        &_crumbs {
            position: relative;
            right: -25px;
            top: -35px;
            line-height: 2.4rem;
            font-size: 1.6rem;
            display: inline-block;
            text-align: left;
            z-index: 10;
            width: 70px;
        }
    }
    &__design {
        position: absolute;
        z-index: -1;
    }
    &__avocado {
        right: 0;
        top: 46px;
    }
    &__cucumber {
        left: 690px;
        top: 0;
    }
    &__pepper-1 {
        left: 42px;
        bottom: 182px;
    }
    &__pepper-2 {
        left: 0;
        bottom: 223px;
    }
    &__pepper-3 {
        left: 20px;
        bottom: 260px;
    }
    &__red_pepper {
        left: 40px;
        top: 397px;
    }
    &__tomato {
        right: 120px;
        bottom: 135px;
    }
}
.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    line-height: 80px;
    letter-spacing: 0em;
    margin: 0;
    &__span {
        font-style: italic;
    }
    &_block {
        .title__span {
            display: block;
        }

    }
}
.description {
    margin: 0;
    font-weight: 400;
    &__size-s {
        font-size: 1.7rem;
        line-height: 2.7rem;
        letter-spacing: 0.051rem;
    }
    &__size-m {
        font-size: 2.4rem;
        line-height: 3.6rem;
    }
}
.link {
    color: $white;
    padding: 2.2rem 4.5rem;
    text-transform: uppercase;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem .2rem rgba(207,92,13,0.2);
    border-radius: 35px;
    text-decoration: none;
    letter-spacing: 0.1rem;
    transition: $link-transition-time;
    &:hover {
        background-color: $orange-dark;
    }
}
.offer {
    // background-image: url(../img/background\ 2\ sreen.png);
    // background-size: cover;
    // background-position-x: center;
    // background-repeat: no-repeat;
    height: 1047px;
    &__text {
        margin-top: 58px;
        width: 50%;
    }
    &Swiper {
        padding-top: 9.6rem;
        & .swiper {
            &-button-prev,
            &-button-next {
                top: 26px;
            }
            &-button-next {
                right: 0;
            }
            &-button-prev {
                right: 83px;
            }
            &-slide {
                padding: 21rem 0 0 4rem;
                height: 520px;
                &__title {
                    transform: translateY(24rem);
                    transition-duration: 1s;
                }
            }
        }
    }
}
.slider {
    overflow: hidden;
    box-sizing: border-box;
}
.swiper {
    overflow: initial;
    &-pagination {
        display: none;
    }
    &-button-prev,
    &-button-next {
        margin: 0;
        left: inherit;
        width: 10px;
        height: 18px;
        opacity: 0.55;
        transition: $link-transition-time;
        &:hover {
            opacity: 1;
        }
        &::after {
            content: '';
            width: 10px;
            height: 18px;
            background-repeat: no-repeat;
        }
    }
    &-button-next {
        &::after { 
            background-image: url(../img/arrow-next.svg);
        }
    }
    &-button-prev {
        &::after { 
            background-image: url(../img/arrow-prev.svg);
        }
    }
    &-slide {
        border-radius: 20px;
        box-sizing: border-box;
        // display: flex;
        // flex-direction: column;
        overflow: hidden;
        border: 1px solid rgba($green, 0.55);
        transition: transform 1s;  
        position: relative; 
        &__description {
            margin: 2.3rem 0 0;
            opacity: 0.7;
            font-family: $font-jost;
            font-size: 18px;
            line-height: 27px;
            font-weight: 400;
            color: $green;
        }
        &__price {
            font-family: $font-jost;
            font-size: 24px;
            line-height: 1.2;
            font-weight: 400;
            color: $green;
            margin: 0;
            position: absolute;
            bottom: 13.5rem;
        }
        &__cover { 
            position: absolute;
            top: 2.8rem;
            overflow: hidden;
            height: 293px;
            max-height: 293px;
            z-index: -10;
            width: calc(100% - 4rem);
        }
        &__img {
            position: absolute;
            left: 45%;
            top: 54%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            bottom: 4rem;
            width: 83%;
        }
        &_white {
            &::after {
                content: '';
                background-color: rgba($white, .55);
                position: absolute;
                top: 2px;
                left: 2px;
                border-radius: 2rem;
                width: calc(100% - 2px);
                height: calc(100% - 2px);
                z-index: 0;
                transition: 1s;
            }
            &:hover {
                &::after {
                    opacity: 0;
                    transition: 1s;
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);   
                }
            }
        }
        &__milk {
            background-image: url(../img/milk.png);
            background-repeat: no-repeat;
            background-size: cover;
        }     
        &__steaks {
            background-image: url(../img/steaks.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__pasta {
            background-image: url(../img/pasta.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__title {
            font-family: $font-cormorant;
            font-size: 3rem;
            line-height: 1.2;
            font-weight: 700;
            color: $green;
            margin: 0;
            // transform: translateY(24rem);
            // transition-duration: 1s;
            z-index: 1;
        }
        &__text {
            font-family: $font-jost;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: $green;
            width: 65%;
            margin-top: 25px;
            transform: translateY(24rem);
            transition-duration: 1s;
            opacity: 0;
            z-index: 1;
        }
        &__plus {
            transition-duration: 1s;
            z-index: 1;
            transform: translateY(24rem);
            opacity: 0;
            font-family: $font-jost;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.08em;
            color: $green;
            text-decoration: none;
            display: flex;
            align-items: center;
            margin-top: 1.8rem;
            &::before {
                opacity: 0.8;
                content: '';
                background-image: url(../img/plus.svg);
                background-size: cover;
                background-repeat: no-repeat;
                margin-right: 2rem;
                width: 3rem;
                height: 3rem;
            }
        }
        &:hover {
            box-shadow: 0 0 0 2px rgba($green, 0.6) inset;
            cursor: pointer;
        }
        &:hover &__title {
            transform: translateY(0);
            opacity: 1;
            transition-duration: 1s;
        }
        &:hover &__text {
            transform: translateY(0);
            opacity: 0.7;
            transition-duration: 1s;
        }
        &:hover &__plus {
            transform: translateY(0);
            opacity: 0.8;
            transition-duration: 1s;
            &:hover {
                opacity: 1;
            }
        }
    }
  }
  .about {
    padding-top: 25px;
    height: 554px;
    box-sizing: border-box;
    // background-image: url(../img/background\ 3\ screen.png);
    // background-size: cover;
    // background-position-x: center;
    // background-repeat: no-repeat;
    .title {
        padding-left: 5px;
        letter-spacing: 0.01em;
    }
    &__box {
        padding: 67px 0 0 120px; 
        display: flex;
        justify-content: space-between;
    }
    &__text {
        font-family: $font-jost;
        font-weight: 400;
        color: $green;
        padding: 26px 0 0;
        margin: 0;
        flex-basis: 45%;
    }
    &__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 85px;
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            &-img {
                width: 87px;
                height: 87px;
                border: 1px solid rgba($green, 0.4);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                & img {
                    width: 39px;
                    height: 39px;
                }
            }
            &-text {
                font-family: $font-cormorant;
                font-size: 3rem;
                line-height: 1.2;
                font-weight: 700;
                font-style: italic;
                color: $green;
                margin-top: 1.2rem;
            }
        }
    }
}

.trends {
    padding-top: 27px;
    box-sizing: border-box;
    // background-image: url(../img/background\ 4\ screen.png);
    // background-size: cover;
    // background-position-x: center;
    // background-repeat: no-repeat;
    height: 1104px;
    &__text {
        padding: 4rem 0 0;
    }
    &Swiper {
        padding-top: 8.4rem;
        & .swiper {
            &-button-prev,
            &-button-next {
                top: 12px;
            }
            &-button-next {
                right: 0;
            }
            &-button-prev {
                right: 89px;
            }
            &-slide {
                padding: 38rem 0 0 4rem;
                height: 68.3rem;
                &__title {
                    transform: translateY(0rem);
                    transition-duration: 1s;
                }
                &-active {
                    left: 1px;
                }
            }
        }
    }
}
.counter {
    display: flex;
    justify-content: space-between;
    &__input {
        width: 4.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: $font-jost;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 400;
        color: $green;
        border: none;
    }
    &__btn {
        width: 50px;
        height: 50px;
        border: 1px solid $green;
        background: transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: .4;
        transition: $link-transition-time;
        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }
    &__minus {
        & img {
            pointer-events: none;
            width: 14px;
        }
    }
    &__plus {
        & img {
            height: 14px;
            width: 14px;
        }
    }
    &+.link {
        padding: 2.2rem 5.3rem;
    }
}
.catalog {
    padding-top: 36px;
    box-sizing: border-box;
    // background-image: url(../img/background\ 5\ screen.png);
    // background-size: cover;
    // background-position-x: center;
    // background-repeat: no-repeat;
    height: 1684px;
    &__more {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 55px;
        &-btn {
            background-color: transparent;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                cursor: pointer;
            }
        }
        &-text {
            opacity: 0.8;
            transition: $link-transition-time;
            font-family: $font-jost;
            font-size: 1.6rem;
            line-height: 1.2;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.08em;
            color: $green;
            &:hover {
                opacity: 1;
            }
        }
        &-load {
            width: 25px;
            height: 25px;
            margin-right: 15px;
            opacity: 0.8;
            &:hover {
                opacity: 1;
            }
        }
    }
    &__text {
        padding-top: 3.7rem;
    }
    &__description {
        font-family: 'Avenir Next';
        letter-spacing: -0.006;
    }
    &__btns {
        width: 100%;
        padding: 0;
        padding-top: 8.8rem;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        &-btn {
            width: 230px;
            height: 70px;
            background: transparent;
            border: 1px solid $green;
            border-radius: 35px;
            color: $green;
            font-family: $font-jost;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 400;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: $link-transition-time;
            &:hover {
                border-color: $orange;
                color: $orange;
            }
        }
    }
    &__grid {
        width: 100%;
        padding-top: 4.8rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        &-card {
            border-radius: 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            border: 1px solid rgba($green, 0.55);
            transition: transform 1s;  
            position: relative; 
            width: 345px;
            height: 515px;
            background-color: transparent;
            padding: 24.6rem 0 0 3rem;
        }
        &-cover { 
            position: absolute;
            top: 2.8rem;
            overflow: visible;
            height: 230px;
            max-height: 293px;
            z-index: 0;
            width: calc(100% - 4rem);
        }
        &-img {
            position: relative;
            width: 100%;
            left: 50%;
            top: 50%;
            object-fit: none;
            z-index: -1;
            &-milk {
                transform: translate(-52%, -55%);
            }
            &-yogurt {
                transform: translate(-52%, -50%);
            }
            &-cottage_cheese {
                transform: translate(-54%, -42%);
            }
            &-mozzarella {
                transform: translate(-52%, -58%);
            }
            &-butter {
                transform: translate(-52%, -55%);
            }
            &-thermostatic {
                transform: translate(-53%, -45%);
            }
            &-cheese {
                transform: translate(-52%, -57%);
            }
            &-sauce {
                transform: translate(-55%, -58%);
            }
        }
        &-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            bottom: 4rem;
            width: 83%;
            & .counter {
                &__btn {
                    width: 4rem;
                    height: 4rem;
                }
                &__input {
                    width: 2.8rem;
                }
            }
            & .link {
                font-size: 14px;
                line-height: 1.2;
                text-transform: uppercase;
                letter-spacing: 0.08em;
            }
            & .link {
                padding: 2.0rem 3.5rem;
            }
        }
        &-title {
            font-family: $font-cormorant;
            font-size: 3rem;
            line-height: 1.2;
            font-weight: 700;
            color: $green;
            margin: 0;
        }
        &-description {
            opacity: 0.7;
            font-family: $font-jost;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: $green;
            margin: 1.6rem 0;
            width: 80%;
        }
        &-price {
            font-family: $font-jost;
            font-size: 24px;
            line-height: 1.2;
            font-weight: 400;
            color: $green;
            margin: 0;
        }
    }
}
.description-xs {
    font-family: $font-jost;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: $green;
}
.delivery {
    box-sizing: border-box;
    margin-top: -13px;
    // background-image: url(../img/background\ 6\ screen.png);
    // background-size: cover;
    // background-position-x: center;
    // background-repeat: no-repeat;
    height: 457px;
    &__content {
        display: flex;
        justify-content: flex-start;
        margin-top: 75px;
        text-align: left;
        padding-left: 120px;
        gap: 14rem;
        &-left {
            width: 45%;
            &-link {
                color: $green;
                display: inline-block;
                text-decoration: none;
                &::after {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: $green;
                    transform: scale(0);
                    display: block;
                    transition: .8s;
                    margin-top: 1px;
                    transform-origin: left;
                    margin-top: -4px;
                }
                &:hover {
                    &::after {
                        transform: scale(1);
                        transition: $link-transition-time;
                    }
                }
            }
        }
        &-right {
            width: 38%;
            &-text {
                padding: 0;
                margin: 0;
            }
            &-link {
                color: $orange;
                text-decoration: none;
                &:hover {
                    color: $orange-dark;
                }
            }
            &-payment {
                list-style: none;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 0;
                gap: 30px;
                margin-top: 45px;
                & .mastercard {
                    width: 53px;
                }
                & .visa {
                    width: 74px;
                }
                & .paypal {
                    width: 87px;
                }
                & .mastercard, & .visa, & .paypal {
                    opacity: 0.4;
                    transform: scale(1);
                    transition: $link-transition-time;
                    &:hover {
                        opacity: 1;
                        cursor: pointer;
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}
.footer {
    // background-image: url(../img/background\ 7\ screen.png);
    height: 1130px;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
}
.contact {
    padding: 56px 0 166px;
    box-sizing: border-box;
    &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        &__description {
            padding-left: 120px;
            width: 60%;
            max-width: 550px;
        }
        &__text {
            margin-top: 60px;
        }
        &__link {
            color: $green;
            text-decoration: none;
            font-family: $font-jost;
            font-size: 24px;
            line-height: 1.2;
            font-weight: 500;
            color: $green;
            display: flex;
            align-items: center;
            transition: $link-transition-time;
            &:hover {
                color: $orange;
            }
        }
        &__tel {
            &::before {
                content: '';
                background-image: url(../img/phone.svg);
                background-size: 29px 29px;
                width: 29px;
                height: 29px;
                display: inline-block;
                background-repeat: no-repeat;
                padding-right: 30px;
            }
        }
        &__mail {
            &::before {
                content: '';
                background-image: url(../img/mail.svg);
                background-repeat: no-repeat;
                object-fit: fill;
                width: 29px;
                height: 29px;
                background-size: 29px 29px;
                display: inline-block;
                padding-right: 30px;
            }
        }
        &__list {
            list-style: none;
            margin: 60px 0 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 18px;
        }
        &__item {
            display: flex;
            align-items: center;
        }
        &__form {
            border: 2px solid rgba($green, 0.4);
            border-radius: 20px;
            box-sizing: border-box;
            width: 50%;
            padding: 0 60px 39px 57px;
            max-width: 589px;
            position: relative;
            top: 3px;
            &::before {
                content: '';
                height: 5px;
                display: block;
            }
            & .link {
                border: none;
                width: 55%;
                margin-top: 14px;
            }
            & .card {
                display: flex;
                flex-direction: column;
                width: 100%;
                & .link {
                    cursor: pointer;
                }
                &__title {
                    font-family: $font-cormorant;
                    font-size: 3rem;
                    line-height: 1.2;
                    font-weight: 700;
                    color: $green;
                }
                &__label {
                    font-family: $font-jost;
                    font-size: 1.2rem;
                    line-height: 1.2;
                    font-weight: 400;
                    color: $green;
                    margin: 0 0 9px 5px;
                }
                &__input {
                    padding: 20px 25px 20px 30px;
                    opacity: 0.4;
                    border: 1px solid #27300f;
                    border-radius: 20px;
                    margin: 0 0 28px;
                    opacity: 0.4;
                    font-family: $font-jost;
                    font-size: 1.6rem;
                    line-height: 1.2;
                    font-weight: 400;
                    color: $green;
                    &:focus {
                        border: 1px solid rgba($green, 1);
                        outline: none;
                    }
                    &:invalid {
                        border: 1px solid red;
                    }
                }
                &__check {
                    opacity: 0.6;
                    font-family: $font-jost;
                    font-size: 1.2rem;
                    line-height: 18px;
                    font-weight: 400;
                    color: $green;
                    margin: 16px 0 0;
                    width: 80%;
                }
                &__link {
                    text-decoration: none;
                    font-family: $font-jost;
                    font-size: 1.2rem;
                    line-height: 18px;
                    font-weight: 400;
                    color: $green;
                    text-decoration: none;
                    display: inline-block;
                    &::after {
                        content: '';
                        width: 100%;
                        height: 1px;
                        background-color: transparent;
                        display: block;
                        transition: .8s;
                        margin-top: -2px;
                    }
                    &:hover {
                        &::after {
                        background-color: $green; // #dee0da;
                        transition: .8s;
                        }
                    }
                }
            }
        }
    }
}
footer {
    border-top: 1px solid #d3d5cf;
    padding-top: 77px;
}
.footer {
    &__box {

    }
    &__main {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        & .logo {
            margin-top: 11px;
            margin-right: 130px;
            flex-basis: 179px;
            height: 48px;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        &-item {
            margin-bottom: 24px;
        }
        &-link {
            font-family: $font-jost;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 400;
            color: $green;
            text-decoration: none;
            transition: $link-transition-time;
            &:hover {
                color: $orange;
            }
        }
    }
    &__tel {
        font-family: $font-jost;
        font-size: 27px;
        line-height: 1.2;
        font-weight: 400;
        color: $green;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__mail {
        &:hover {
            color: $orange;
        }
    }
    &__contacts {
        &-item {
            margin-bottom: 30px;
        }
    }
    &__media {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 25px;
        &-item {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            opacity: 0.8;
            border: 2px solid #52593f;
            transform: scale(1);
            transition: $link-transition-time;
            &:hover {
                opacity: 1;
                transform: scale(1.05);
            }
        }
        &-vk {
            background-image: url(../img/vk.svg);            
            background-size: 25px;
            display: block;
            background-repeat: no-repeat;
            background-position: center center;
        }
        &-inst {
            background-image: url(../img/instagram.svg);    
            background-size: 18px;        
            display: block;
            background-repeat: no-repeat;
            background-position: center center;
        }
        &-fb {
            background-image: url(../img/facebook.svg);    
            background-size: 18px;        
            display: block;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
    &__copyright {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        &-text, &-link {
            opacity: 0.6;
            font-family: $font-jost;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 400;
            color: $green;
            text-decoration: none;
        }
        &-link {
            &:hover + &-name {
                opacity: 1;
            }
            &-name {
                opacity: 0.6;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}